<!DOCTYPE html>

<html>
<head>
    @*<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache,no-store, must-revalidate">
        <META HTTP-EQUIV="pragma" CONTENT="no-cache">
        <META HTTP-EQUIV="expires" CONTENT="0">*@
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/swiper.min.css">
    <link rel="shortcut icon" href="~/favicon.ico" />
    <link rel="bookmark" href="~/favicon.ico" />
    <link rel="icon" href="~/favicon.ico" />
    <script src="/js/swiper.min.js"></script>
    <script src="/js/TweenMax.min.js"></script>
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        .dv-footer {
            padding-top: 20px;
            width: 100%;
            height: 50px;
            font-size: 0.6rem;
            background-color: #000000;
            color: #fff;
            text-align: center;
        }

        .dv-footer-container {
            margin: 0 auto;
            width: 300px;
        }

        .p-copyright {
            padding: 0;
            margin: 0;
            height: 20px;
            line-height: 20px;
        }

        .dv-footer-container a {
            text-decoration: none;
            height: 20px;
            line-height: 20px;
            color: #fff;
        }
    </style>
</head>
<body>
    @RenderBody()
    @Html.AntiForgeryToken()
    <div class="dv-footer">
        <div class="dv-footer-container">
            <p class="p-copyright">Copyright © LiJ   沪ICP备19043973号</p>
            <p class="p-copyright">
                <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=32058302002520"><img src="~/images/batb.png" style="margin-bottom: -5px;" />苏公网安备 32058302002520号</a>
            </p>
        </div>
    </div>
</body>
</html>