/src/com.jadeStonePlatform/com.jadeStonePlatform.business/bin/
/src/com.jadeStonePlatform/com.jadeStonePlatform.business/obj/
/src/com.jadeStonePlatform/.vs/
/src/com.jadeStonePlatform/com.jadeStonePlatform.common/bin/
/src/com.jadeStonePlatform/com.jadeStonePlatform.common/obj/
src/com.jadeStonePlatform/com.jadeStonePlatform.definition/bin/
src/com.jadeStonePlatform/com.jadeStonePlatform.definition/obj
src/com.jadeStonePlatform/com.jadeStonePlatform.web/bin
src/com.jadeStonePlatform/com.jadeStonePlatform.web/obj